<div class="container">
    <div>
        <form action="/admin/post" enctype="multipart/form-data" method="POST">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Tiêu đề <span class="icon-danger">*</span></h6>
                        <input name="title" class="form-control" type="text" placeholder="Nhập tiêu đề">
                    </div>
                    <div class="form-group">
                        <h6>Danh mục <span class="icon-danger">*</span></h6>
                        <input name="category" class="form-control" type="text" placeholder="Nhập tên danh mục">
                    </div>
                    <div class="form-group">
                        <h6>Nội dung</h6>
                        <textarea name="content" class="form-control textarea-limited" placeholder="Dữ liệu nhập tối đa 3000 từ"
                            rows="13" ,="" maxlength="65535"></textarea>
                        <h5><small><span id="textarea-limited-message" class="pull-right">65535 từ còn lại
                                </span></small></h5>

                    </div>
                    <div class="form-group">
                        <h6>Ảnh đại diện</h6>
                        <input name="thumb" class="form-control" type="file">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">Đăng bài</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>