<div class="container">
    {{#each posts}}
    <div style="margin-bottom: 30px" class="article">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-blog card-plain text-center">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised" src="{{thumb}}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-category">
                            <span class="label label-primary main-tag">{{category}}</span>
                        </div>
                        <a class="title-article" href="javascrip: void(0);">
                            <h3 class="card-title">{{title}}</h3>
                        </a>
                        <div class="card-description">
                                {{#short}}{{content}}{{/short}}
                        </div>
                    </div>

                </div>
                <hr>

            </div>
        </div>
    </div>
    {{/each}}



</div>